@model Models.ShopslistInput



@{
    ViewBag.Title = "Shop List";

    var purl = System.Configuration.ConfigurationSettings.AppSettings["SiteURL"];
}




<style>
    #mask {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        visibility: hidden;
        z-index: -2;
        background: #000;
        background: rgba(0,0,0,0.8);
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

        #mask.showing {
            opacity: 1;
            z-index: 9000;
            visibility: visible;
            overflow: auto;
            transition: all .5s ease-in-out;
        }

    #boxes {
        display: table;
        width: 100%;
        height: 100%;
    }

    .window {
        max-width: 780px;
        z-index: 9999;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        margin: auto;
        background-color: #ffffff;
        font-family: 'Segoe UI Light', sans-serif;
        font-size: 15pt;
    }

        .window img {
            width: 100%;
            height: auto;
        }

    .inner {
        display: table-cell;
        vertical-align: middle;
    }

    #popupfoot {
        font-size: 16pt;
    }

    .showImage {
        margin: 0 0 3em;
        display: table;
        text-align: center;
    }

        .showImage img {
            display: block;
        }


    #maskmap {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        visibility: hidden;
        z-index: -2;
        background: #000;
        background: rgba(0,0,0,0.8);
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

        #maskmap.showing {
            opacity: 1;
            z-index: 9000;
            visibility: visible;
            overflow: auto;
            transition: all .5s ease-in-out;
        }

    #boxesmap {
        display: table;
        width: 100%;
        height: 100%;
    }
    #popupfootmap {
        font-size: 16pt;
    }


</style>


<style>
    .modal-content {
        border-radius: 0px;
    }

    .modal-header {
        background-color: #007DB4;
        color: white;
    }

    .modal-body {
        height: 440px;
    }



</style>

<h2>Shop List</h2>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBif3telvlrJn61kkLXDQA0ViQdDVJWifk"></script>
<script src="~/Scripts/chosen/chosen.jquery.min.js"></script>


<link href="~/Scripts/chosen/chosen.min.css" rel="stylesheet" />

<script>


    $(function () {


        $("#drpuser").chosen({
            width: "100%"
        });

        $("#drpstate").chosen({
            width: "100%"
        });


        //  alert('@Model.selectedusrid');
        if ('@Model.selectedusrid' != '') {

            $("#drpuser").val('@Model.selectedusrid');
            if ($("#drpuser").val() != '') {

                //  alert($("#drpuser").val());
                var surl = '@Url.Action("Getshoplist", "ShopList")';
                var usr = $("#drpuser").val();
                $.ajax({
                    url: surl,
                    async: false,
                    data: {
                        selectedusrid: usr,
                        Fromdate: $('#txtfromDate').val(),
                        Todate: $('#txttoDate').val()
                    },
                    type: 'POST',

                    success: function (data) {

                        $('#refreshgrid').html(data);
                    },
                    error: function () {

                    },
                });
            }
            else {
                $('#refreshgrid').html('');

                $.jAlert({
                    'title': 'Alert!',
                    'content': 'Select User to show',
                    'theme': 'dark_blue'
                });

            }

        }

        $('body').on('click', '#btnshow', function () {

            if ($("#drpuser").val() != '') {

                //  alert($("#drpuser").val());
                var surl = '@Url.Action("Getshoplist", "ShopList")';
                var usr = $("#drpuser").val();
                var usr = $("#drpuser").val();
                $.ajax({
                    url: surl,
                    async: false,
                    data: {
                        selectedusrid: usr,
                        Fromdate: $('#txtfromDate').val(),
                        Todate: $('#txttoDate').val(),
                        StateId: $('#drpstate').val()
                    },
                    type: 'POST',

                    success: function (data) {

                        $('#refreshgrid').html(data);
                    },
                    error: function () {

                    },
                });
            }
            else {
                $('#refreshgrid').html('');

                $.jAlert({
                    'title': 'Alert!',
                    'content': 'Select User to show',
                    'theme': 'dark_blue'
                });

            }

        });


        $('body').on('click', '#btnmodify', function () {
            if ($("#drpuser").val() != '') {


                //var fl = $("#ShopileName");
                //var doc = fl.get(0);
                //var files = doc.files;
                //if (files && files.length > 0) {
                //   var file = $("#ShopileName").get(0);
                //    var e = file; //$(this);
                // //   uploadFile(e);
                //}




                var surl = '@Url.Action("ShopSubmit", "ShopList")';
                $.ajax({
                    url: surl,
                    async: false,
                    data: {
                        address: $("#txtaddress").val(),
                        shop_name: $("#txtshpname").val(),
                        Shoptype: $("#drpshoptypesr").val(),
                        pin_code: $("#txtpincode").val(),
                        owner_name: $("#txtowner").val(),
                        owner_contact_no: $("#txtcontact").val(),
                        owner_email: $("#txtEmail").val(),
                        shop_Auto: $("#hdnshpid").val(),
                        dobstr: $("#txtDOB").val(),
                        date_aniversarystr: $("#txtAnniversary").val()
                    },
                    type: 'POST',

                    success: function (data) {
                        // alert(data);
                        if (data == true) {
                            // alert(data);
                            $("#myModal").modal('hide');
                            $.jAlert({
                                'title': 'Alert!',
                                'content': 'Shop Modified successfully',
                                'theme': 'dark_blue'
                            });

                            var surl = '@Url.Action("Getshoplist", "ShopList")';
                            var usr = $("#drpuser").val();
                            $.ajax({
                                url: surl,
                                async: false,
                                data: {
                                    selectedusrid: usr,
                                    Fromdate: $('#txtfromDate').val(),
                                    Todate: $('#txttoDate').val()
                                },
                                type: 'POST',

                                success: function (data) {

                                    $('#refreshgrid').html(data);
                                },
                                error: function () {

                                },
                            });
                        }

                        else {

                            $.jAlert({
                                'title': 'Alert!',
                                'content': 'Please enter all require fields with correct format',
                                'theme': 'dark_blue'
                            });
                        }
                    },
                    error: function () {

                    },


                });

            }
            else {

                $.jAlert({
                    'title': 'Alert!',
                    'content': 'Select User to delete',
                    'theme': 'dark_blue'
                });
            }
        });



        $('.window .close').click(function (e) {
            //Cancel the link behavior
            e.preventDefault();
            $('#mask').removeClass('showing');
            $('#maskmap').removeClass('showing');
        });



        //$('#txtfromDate,#txttoDate').daterangepicker({
        //    singleDatePicker: true,
        //    showDropdowns: true,
        //    locale: {
        //        format: 'DD-MM-YYYY'
        //    }
        //});


        $('#txtfromDate').daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
        }, function (chosen_date) {
            $('#txtfromDate').val(chosen_date.format('DD-MM-YYYY'));
        });


        $('#txttoDate').daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
        }, function (chosen_date) {
            $('#txttoDate').val(chosen_date.format('DD-MM-YYYY'));
        });


        var d = new Date();
        var dd = d.getDate();
        var mm = d.getMonth() + 1; //January is 0!
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var yyyy = d.getFullYear();

        $('#txtfromDate').val(dd + '-' + mm + '-' + yyyy);
        $('#txttoDate').val(dd + '-' + mm + '-' + yyyy);



        $('#ddlAppIds').on('change', function () {
            if ($("#ddlAppIds option:selected").index() > 0) {
                var selectedValue = $(this).val();
                $('#ddlAppIds').prop("selectedIndex", 0);
                ///   $('#reportLink').prop('href', '/Attendance/ExportDesignation?type=' + selectedValue);
                //window.location.href = "/JobDetailsSetup/ExportDesignation?type=" + selectedValue;
                var url = '@Url.Action("ExportShoplist", "ShopList", new { type = "_type_" })'
                window.location.href = url.replace("_type_", selectedValue);

                ///  $('#type').val(selectedValue);
                ///  $('#frmExportGrid').submit();
                if ($("#drpuser").val() != '') {

                    //  alert($("#drpuser").val());
                    var surl = '@Url.Action("Getshoplist", "ShopList")';
                    var usr = $("#drpuser").val();
                    $.ajax({

                        url: surl,
                        async: false,

                        data: {
                            selectedusrid: usr,
                            Fromdate: $('#txtfromDate').val(),
                            Todate: $('#txttoDate').val()
                        },

                        type: 'POST',
                        success: function (data) {
                            $('#refreshgrid').html(data);
                        },

                        error: function () {

                        },

                    });
                }
                else {
                    $('#refreshgrid').html('');

                    $.jAlert({
                        'title': 'Alert!',
                        'content': 'Select User to show',
                        'theme': 'dark_blue'
                    });

                }
            }
        });


    });


    function uploadFile(e) {
        var fl = $(e);
        var doc = fl.get(0);
        var CandidateId = $("#KeyValue").val();
        var imagename = $("#hdnshimage").val();
        if (window.FormData !== undefined) {

            var fileUpload = fl.get(0);
            var files = fileUpload.files;
            if (files[0].size <= 2048000) {
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("FileFileUploadforShop", "ShopList")' + '?shopimagename=' + imagename,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    async: false,
                    success: function (result) {
                        if (result != "error") {
                            var data = result;
                            if (data == "Success") {

                            }

                        }
                        else {

                        }

                    },
                    error: function (err) {

                    }
                });
            }
            else {
                jAlert("The file size shoud not be more than 2 MB.");

            }
        } else {
            alert("FormData is not supported.");

        }
    }




    function OpenShopImage(imgfile) {

        $('.image').attr({
            'src': imgfile
        });
        $('#mask').addClass('showing');
    }

    function onCompleteModifyshop() {
        //alert();
        $("#myModal").modal('hide');
        alert('success');
    }


    function OpenShopforEdit(shopid) {

        var surl = '@Url.Action("ShopListModify", "ShopList")';
        var usr = $("#drpuser").val();
        $.ajax({
            url: surl,
            async: false,
            data: {
                ShopUniqueId: shopid

            },
            type: 'POST',
            success: function (data) {
                $("#divModalBody").html(data);
                $("#myModal").modal('show');
            },
            error: function () {
            },

        });

    }




    function OpenShopfordelete(shopid) {
        // alert('');
        if ($("#drpuser").val() != '') {
            var surl = '@Url.Action("DeleteShopList", "ShopList")';
            var usr = $("#drpuser").val();
            $.ajax({
                url: surl,
                async: false,
                data: {

                    ShopUniqueId: shopid

                },
                type: 'POST',

                success: function (data) {

                    if (data == true) {

                        $.jAlert({
                            'title': 'Alert!',
                            'content': 'Data Deleted Successfully',
                            'theme': 'dark_blue'
                        });
                        var surl = '@Url.Action("Getshoplist", "ShopList")';
                        $.ajax({
                            url: surl,
                            async: false,
                            data: {
                                selectedusrid: usr,
                                Fromdate: $('#txtfromDate').val(),
                                Todate: $('#txttoDate').val()
                            },
                            type: 'POST',

                            success: function (data) {

                                $('#refreshgrid').html(data);
                            },
                            error: function () {

                            },
                        });


                    }
                },


                error: function () {

                },


            });
        }

        else {

            $.jAlert({
                'title': 'Alert!',
                'content': 'Select User to delete',
                'theme': 'dark_blue'
            });
        }

    }

    function OpenShopforLocation(lat, long, locname)
    {
        $('#maskmap').addClass('showing');
        var latlng = new google.maps.LatLng(lat, long);


        var map = new google.maps.Map(document.getElementById('map'), {
            center: latlng,
            zoom: 15


        });
        var content = '<div id="iw_container">' +

        '<div class="iw_title"></div>' +
        '<div class="iw-content"><b>Location</b>: ' + locname +
      

        '</div>';


        var infowindow = new google.maps.InfoWindow({
            content: content,
          
        });


        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Porcelain Factory of Vista Alegre"
        });



        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        // Event that closes the Info Window with a click on the map
        google.maps.event.addListener(map, 'click', function () {
            infowindow.close();
        });

     
        
    }


  
</script>
<style>

    #tblshoplist > thead > tr > th {
        background: #5F65AD !important;
        border-top: 1px solid #0f87cc;
        color: #fff;
    }
    #tblshoplist thead > tr > th, #tblshoplist tbody > tr > th, #tblshoplist tfoot > tr > th, #tblshoplist thead > tr > td, #tblshoplist tbody > tr > td, #tblshoplist tfoot > tr > td {
        padding: 1px 5px !important;
    }


    /*#tblshoplist {
        width:200% !important;
    }
    .scrooler {
        width:100%;
        overflow-x:scroll;
    }*/
    .labelTbl>tbody>tr>td {
        padding-right:20px;
    }
    .wDate {
        width: 130px;
    }
    .w200 {
        width:200px;
    }
    .mTop30 {
        margin-top: 30px;
    }
</style>

<div class="form_main">
    
        @using (Html.BeginForm("GetSalesmanLocation", "TrackSalesman", FormMethod.Post, new { @id = "fromsalesman" }))
        {
            
            <table class="pull-left labelTbl mBot10">

                <tr>
                    <td >User List:</td>

                    <td class="w200">


                        @*@Html.DropDownListFor(m => m.selectedusrid, new SelectList(Model.userlsit, "UserID", "username", Model.selectedusrid), "-Select-", new { @id = "drpuser", @class = "whclass" })*@

                        <select id="drpuser" name="ddRoles" data-placeholder="Click or Type Here..." class="whclass">
                            @foreach (var item in Model.userlsit)
                            {
                                if (Model.selectedusrid == item.UserID)
                                {
                                    <option value="@item.UserID" selected="selected">@item.username</option>
                                }
                                else
                                {
                                    <option value="@item.UserID">@item.username</option>

                                }
                            }
                        </select>







                    </td>

                    <td  id="dtstate">State : </td>

                    <td id="dtdesg2" class="w200">

                        <select id="drpstate" name="drpstate" data-placeholder="Click or Type Here..." class="whclass">

                            <option value="">Select</option>

                            @foreach (var item in Model.states)
                            {
                                if (Model.StateId == item.ID)
                                {
                                    <option value="@item.ID" selected="selected">@item.StateName</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.StateName</option>
                                }
                            }

                        </select>

                    </td>


                    
                   

                </tr>

              
            </table>
            <table class="pull-left labelTbl">
                <tr>
                    <td >From Date : </td>

                    <td class="wDate">
                        @Html.TextBoxFor(m => m.Fromdate, new { @class = "form-control", @id = "txtfromDate" })
                    </td>

                    <td >To Date : </td>

                    <td class="wDate">
                        @Html.TextBoxFor(m => m.Todate, new { @class = "form-control", @id = "txttoDate", @radonly = true })
                    </td>
                    <td>
                        <button type="button" id="btnshow" class="btn btn-success btnwidth">Show</button>


                        <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                            <option value="0">Export to</option>

                            <option value="2">XLSX</option>

                        </select>
                    </td>
                </tr>
             </table>
        }
    
    <br />

    <div class="scrooler mTop30">
        <div id="refreshgrid">

        </div>
    </div>


</div>




<div id="mask">
    <div id="boxes">
        <div class="inner">
            <div id="dialog" class="window">
                <a href="#" class="close">CLOSE</a>
                <div id="popupfoot">
                    
                    
                     <img src="#" class="image" alt="Loading..."></img>
                
                
                 </div>
            </div>
        </div>
    </div>
</div>




<div id="myModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="width:450px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modify Shop</h4>
            </div>
            <div class="modal-body">
                <div id="divModalBody" style="padding-left:20px;">

                </div>
            </div>
        </div>

    </div>
</div>




<div id="maskmap">
    <div id="boxesmap">
        <div class="inner">
            <div id="dialogmap" class="window">
                <a href="#" class="close">CLOSE</a>
                <div id="popupfootmap">
                 
                    <div id="map" style="width: 100%; height: 450px;"></div>

                </div>
            </div>
        </div>
    </div>
</div>






